name: Leafgit Release

on:
  push:
    tags:
    - 'v*.*.*'

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
        include:
          - os: ubuntu-latest
            artifact-name: leafgit-linux

          - os: windows-latest
            artifact-name: leafgit-windows

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'
        
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Build with PyInstaller
        run: |
          pyinstaller leafgit.spec

      - name: Save to artifact
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.artifact-name }}
          path: dist/*

  release:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Download artifacts
        uses: actions/download-artifact@v4
        with:
          path: artifacts
      
      - name: Create release assets
        run: |
          mkdir release-assets
          mv artifacts/leafgit-linux/leafgit release-assets/leafgit-linux-x86_64
          mv artifacts/leafgit-windows/leafgit.exe release-assets/leafgit-windows-x86_64.exe
          chmod +x release-assets/leafgit-linux-x86_64

      - name: create release note
        id: create_release_note
        run: |
          TEMPLATE=$(cat .github/release_template.md)
          TEMPLATE=${TEMPLATE//\{VERSION\}/${GITHUB_REF_NAME}}

          echo "RELEASE_BODY<<EOF" >> $GITHUB_OUTPUT
          echo "$TEMPLATE" >> $GITHUB_OUTPUT
          echo "EOF" >> $GITHUB_OUTPUT

      - name: create release page
        uses: softprops/action-gh-release@v1
        with:
          files: release-assets/*
          draft: true
          prerelease: false
          generate_release_notes: true
          body: ${{ steps.create_release_note.outputs.RELEASE_BODY }}
      